# Dependências
node_modules/
**/node_modules/

# Next.js Build
website/.next/
.next/

# Ambiente e Chaves Privadas
.env
backend/.env
website/.env
*.env
*.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operativo
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
